{% extends 'links/base.html'%}
{% block content %}
    <div style="display: flex;justify-content: center;"  >
    <div>
        <form action="/" method="POST">
               {% csrf_token %}
                  <input type="text" name="url" placeholder="Add New Product" required>
                    <button class="btn btn-secondary mx-2 my-3">Add</button>
                    </form>
        </div>
         <div>
             <form action="/update/" method="GET">
                <button class="btn btn-secondary my-3"> Upadate</button>
            </form>
                </div>
            </div>
    
   
    {% for item in items %}
     <div class="container">
         <div class="card mt-3 p-4 card-bx" style="background-color: rgb(221, 186, 176);border-radius:25px;">
             <strong>Name:</strong>{{item.name}}<br>
             <strong>Current Price:</strong>{{item.curr_price}}<br>
             <strong>Old price:</strong>{{item.old_price}}<br>
             <strong>Discount:</strong>{{item.price_difference}}<br>
             <strong>Url:</strong><a href="{{item.url}}">{{item.url}}</a><br>
             <div >
                <strong>date:</strong>{{item.updated}}<br>
                <!-- rgb(199, 177, 212) -->
                    <form action="/delete/{{item.id}}/" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger my-3">Delete</button>
                    </form>
                     
             </div>
             
         </div>
     </div>
    {% endfor %}
    {% endblock %}